html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* para que el scroll sea suave */
}


/* Estilos del menu principal */
.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    text-align: center;
    background: linear-gradient(135deg, #135def, #721960, #3333ff);
    background-size: 400% 400%; /* Aumentamos el tamaño del fondo para hacer el movimiento más visible */
    animation: moveGradient 8s ease infinite; /* Un poco más lento para que el movimiento sea claro */
    color: white;
    position: relative;
    overflow: hidden; /* evita que algo salga de la pantalla */
  }

.main-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.1), transparent 70%);
    mix-blend-mode: overlay;
    z-index: 1;
}

.menu-content {
    z-index: 2;
}

.scroll-down {
    z-index: 2;
}

/* Animacion del gradiente */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Contenido del menu */

.menu-content h1 {
    font-size: 3rem;
    margin: 0;
}

.menu-content p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Flecha de scroll */
.scroll-down {
    position: absolute;
    bottom: 40px; /* Se coloca al final de la pantalla */
    text-align: center;
}

.scroll-down span {
    font-size: 2rem; /* Tamaño grande para la flecha */
    display: inline-block; /* Asegura que la animación funcione correctamente */
    animation: bounce 2s infinite; /* Efecto de rebote en la flecha */
  }

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }